[flake8]
application-import-names = src
docstring-convention = google
ignore = ANN101,E203,E501,W503,C901
import-order-style = google
max-complexity = 10
max-line-length = 120
per-file-ignores = tests/*:S101
select = ANN,B,B9,C,D,DAR,E,F,I,S,W
